*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// use this to define the rem unit, based 10px = 62.5%
html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "Anton", sans-serif;
}
